page-trip-report {
    .label-md{
        font-size: 12px;
    }
      .masters {
        background-color: #f2f2f2;
        top: 6%;
        }
        .masters1{
        background-color: #f2f2f2;
        top: 0%;
        }
    .overme {
        // padding-top:8px;
        padding-right: 2px;
        padding-left: 13px;
        // padding-left: 8px;
         // padding: auto; 
         width: 230px;
         // height: 60px;
         // line-height: 30px;
         line-height: normal;
         overflow:hidden; 
         font-size: 11px;
         color: black;
         // background: #333;
 
         /*The problematic part is below*/
         white-space:nowrap; 
         text-overflow: ellipsis;
        //  font-weight: bold;
     }
     
     .overme {
         white-space: normal;
         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
     }
     .overme span {
        position: absolute;
        left: 0;
        padding-left: 10px;
      }
      .divS {
          font-size: 10px;
          font-weight: bold;
          color: black;
          padding-top: 10px;
          padding-left: 14px;
      }
      .divS span{
        color: #2F3030;
        font-weight: 500;
        font-size: 9px;
      }
    .col {
        padding: 0px;
    }
    .item-md ion-thumbnail img,
    .item-ios ion-thumbnail img {
        width: 80px;
        height: 80px;
    }
    ion-thumbnail {
        margin: 0px !important;
        padding: 0px !important;
    }
    // .item-md.item-block .item-inner {
    //     padding-right: 8px;
    //     border-bottom: 1px solid #dedede;
    // }
    .item-md {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        // padding-left: 16px;
        // padding-right: 0;
        // position: relative;
        // font-size: 1.6rem;
        // font-weight: normal;
        // text-transform: none;
        // color: #000;
        // background-color: #fff;
        // -webkit-box-shadow: none;
        // box-shadow: none;
        // -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        // transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
