<ion-header>
  <ion-navbar>
    <ion-title>Live For {{titleText}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="map_canvas_single_device">
    <ion-row>
      <ion-col>
        <ion-fab top left>
          <button ion-fab color="light" mini (click)="onClickMainMenu()">
            <ion-icon color="gpsc" name="map"></ion-icon>
          </button>
          <ion-fab-list side="bottom">
            <button ion-fab (click)="onClickMap('SATELLITE')" color="gpsc">
              S
            </button>
            <button ion-fab (click)="onClickMap('TERRAIN')" color="gpsc">
              T
            </button>
            <button ion-fab (click)="onClickMap('NORMAL')" color="gpsc">
              N
            </button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
      <ion-col>
       
      </ion-col>
    </ion-row>

    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:23%">
      <button ion-fab mini (click)="showRoute()" color="gpsc">
        <ion-icon name="flag" color="black"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:36%">
      <button ion-fab mini (click)="onSelectMapOption('mapHideTraffic')" color="{{mapHideTraffic ? 'light' : 'gpsc'}}">
        <ion-icon name="walk" color="{{mapHideTraffic ? 'dark-grey' : 'black'}}"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:49%">
      <button ion-fab mini *ngIf="showShareBtn" (click)="shareLive($event)" color="gpsc">
        <ion-icon name="share" color="black"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:62%">
      <button ion-fab mini (click)="zoomin()" color="gpsc">
        <ion-icon name="add" color="black"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:75%">
      <button ion-fab mini (click)="zoomout()" color="gpsc">
        <ion-icon name="remove" color="black"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="gpsc">
    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/milestone-png-1.png" width="30" height="34" style="margin-top: 5%">
          </ion-col>
          <ion-col col-9 style="text-align: left;">
            <p style="color:#ffffff; font-size: 1em;">&nbsp;&nbsp;{{todays_odo | number : '1.0-2'}} km</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <ion-icon name="speedometer" style="color:khaki; font-size:3.2em"></ion-icon>
          </ion-col>
          <ion-col col-9 style="text-align: left;">
            <p style="color:#ffffff; font-size: 1em;">&nbsp;&nbsp;{{vehicle_speed}} km/h</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/img_466583.png" width="37" height="35" style="margin-top: 5%">
          </ion-col>
          <ion-col col-9 style="text-align: left;">
            <p style="color:#ffffff; font-size: 1em;">&nbsp;&nbsp;{{titleText}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <ion-icon name="time" style="font-size: 3.1em; color:gold"></ion-icon>
          </ion-col>
          <ion-col col-9 style="text-align: left;">
            <p style="color:#ffffff; font-size: 1em;">&nbsp;&nbsp;{{last_ping_on | date:'short'}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>