<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Summary Report</ion-title>
    </ion-navbar>

    <ion-item style="background-color: #fafafa;">
        <ion-label>Select Vehicle</ion-label>
        <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name" itemTextField="Device_Name"
            [canSearch]="true" (onChange)="getSummaarydevice(datetimeStart, datetimeEnd, selectedVehicle)">
        </select-searchable>
    </ion-item>

    <ion-row padding-left padding-right style="background-color: #fafafa;">
        <ion-col width-20>
            <ion-label>
                <span style="font-size: 13px">From Date</span>
                <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart" (ionChange)="change(datetimeStart)"
                    style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
            </ion-label>
        </ion-col>

        <ion-col width-20>
            <ion-label>
                <span style="font-size: 13px">To Date</span>
                <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd" (ionChange)="change1(datetimeEnd)"
                    style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
            </ion-label>
        </ion-col>

        <ion-col width-20>
            <div style="margin-top: 9px; float: right">
                <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getSummaryReport(datetimeStart,datetimeEnd);"></ion-icon>
            </div>
        </ion-col>
    </ion-row>
</ion-header>


<ion-content>

    <ion-card *ngFor="let item of summaryReportData">

        <ion-item style="border-bottom: 2px solid #dedede;">
            <ion-avatar item-start>
                <img src="assets/imgs/car_red_icon.png">
            </ion-avatar>
            <!-- <ion-thumbnail item-start>
                       
                        <img src="assets/imgs/car_red_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/car_green_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/car_grey_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC==null))">
                                    
                        <img src="assets/imgs/truck_icon_red.png"  *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/truck_icon_green.png"  *ngIf="(item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/truck_icon_grey.png"  *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/bike_red_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/bike_green_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/bike_grey_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/jcb_red.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/jcb_green.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/jcb_gray.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/bus_red.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/bus_green.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/bus_gray.png" *ngIf="((item.device.iconType == 'bus')&&( !item.device.last_ACC ))">
                    </ion-thumbnail>
    
                    <ion-thumbnail item-start *ngIf="item.device != null && item.device.iconType == null">
                        <img src="assets/imgs/car_red_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/car_green_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/car_grey_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/truck_icon_red.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/truck_icon_green.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/truck_icon_grey.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/bike_red_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/bike_green_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/bike_grey_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/jcb_red.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/jcb_green.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/jcb_gray.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/bus_red.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/bus_green.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/bus_gray.png" *ngIf="((item.device.iconType == 'bus')&&( !item.device.last_ACC ))">
                    </ion-thumbnail>
    
                    <ion-thumbnail item-start *ngIf="item.device == null && item.device.iconType != null">
                        <img src="assets/imgs/car_red_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/car_green_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/car_grey_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/truck_icon_red.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/truck_icon_green.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/truck_icon_grey.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/bike_red_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/bike_green_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/bike_grey_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/jcb_red.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/jcb_green.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/jcb_gray.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/bus_red.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/bus_green.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/bus_gray.png" *ngIf="((item.device.iconType == 'bus')&&( !item.device.last_ACC ))">
    
                    </ion-thumbnail> -->
            <p style="color:black;font-size:13px;">{{item.Device_Name }}</p>

            <ion-row style="padding-top: 12px;">
                <ion-col>
                    <p class="para">
                        <span *ngIf="item.ignOn">{{item.ignOn}}</span>
                        <span *ngIf="!item.ignOn">00.00</span>&nbsp;</p>
                    <p style="color:#53ab53;font-size:11px;font-weight: 350;"> Running </p>
                </ion-col>
                <ion-col>
                    <p class="para">
                        <span *ngIf="item.ignOff">{{item.ignOff}}</span>
                        <span *ngIf="!item.ignOff">00.00</span>&nbsp;</p>
                    <p style="text-align:left;font-size: 11px;color:red;font-weight:350;">Stop</p>
                </ion-col>
                <ion-col center text-center>
                    <p class="para">
                        <span *ngIf="item.distance">{{item.distance | number : '1.0-2'}}</span>
                        <span *ngIf="!item.distance">00.00</span>&nbsp;</p>
                    <p style="text-align:left;font-size: 11px;color:#11c1f3;font-weight:350;">Total KM</p>
                </ion-col>
            </ion-row>
            <ion-row style="padding-top: 5px;">
                <ion-col>
                    <p class="para">
                        <span *ngIf="item.overspeeds">{{item.overspeeds}}</span>
                        <span *ngIf="!item.overspeeds">00.00</span>&nbsp;</p>
                    <p class="para1">Overspeeding</p>
                </ion-col>
                <ion-col>
                    <p class="para">
                        <span *ngIf="item.routeViolations">{{item.routeViolations}}&nbsp;Km/h</span>
                        <span *ngIf="!item.routeViolations">00.00</span>&nbsp;</p>
                    <p class="para1">Route Voilation</p>
                </ion-col>
                <ion-col>
                    <p class="para">
                        <span *ngIf="item.avgSpeed">{{item.avgSpeed | number : '1.0-2'}}&nbsp;Km/h</span>
                        <span *ngIf="!item.avgSpeed">00.00</span>&nbsp;</p>
                    <p class="para1">Avg Speed</p>
                </ion-col>
            </ion-row>

            <ion-row style="padding-top: 5px;">
                <p>
                    <ion-icon name="pin" style="color:#33c45c;font-size:13px;"></ion-icon>&nbsp;
                    <span *ngIf="!item.StartLocation" style="color:gray;font-size:11px;font-weight: 400;">N/A</span>
                    <span *ngIf="item.StartLocation" style="color:gray;font-size:11px;font-weight: 400;" text-nowrap>{{item.StartLocation}}</span>
                </p>
            </ion-row>
            <ion-row>
                <p>
                    <ion-icon name="pin" style="color:#e14444;font-size:13px;"></ion-icon>&nbsp;
                    <span *ngIf="!item.EndLocation" style="color:gray;font-size:11px;font-weight: 400;">&nbsp;&nbsp;N/A</span>
                    <span *ngIf="item.EndLocation" style="color:gray;font-size:11px;font-weight: 400;" text-nowrap>{{item.EndLocation}}</span>
                </p>
            </ion-row>
        </ion-item>
    </ion-card>
</ion-content>