page-add-devices {
    .itemStyle {
        .item-ios,.item-md {
            padding: 0px !important;
        }
        .label-ios,.label-md {
          margin: 0px !important;
        }
        .item-ios.item-block .item-inner,.item-md.item-block .item-inner {
         padding: 0px !important;
         margin: 0px !important;
        }  
    }

    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner {
        padding-right: 0px;
        // border-bottom: 1px solid #dedede;
    }

   .ava{
         min-width: 0px; 
         min-height: 0px; 
       img {
           height: 22px;
           width: 30px;
       }
   }

   .colSt1{
        height:4.4rem; 
        // background-image: linear-gradient(to right top, #5694ce, #9884cf, #d36eae, #ed6373, #dd7530);
        background-image: linear-gradient(to right top, #dd7530, #cf6f29, #c16922, #b3631b, #a65d14);
        // background: #dd7530;
        // background-image: linear-gradient(to left bottom, #d80622, #c0002d, #a60033, #8b0935, #6f1133);
        padding: 0px;
        text-align: center;
        position:relative;
   }

   .colSt2{
        height:4.4rem; 
        // width:80%; 
        width:100%; 
        padding: 0px;
   }

   .overme {
       padding-top:8px;
       padding-right: 2px;
        // width: 180px;
        line-height: normal;
        overflow:hidden; 
        font-size: 10px;
        color: white;
        white-space:nowrap; 
        text-overflow: ellipsis;
    }
    
    .overme {
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
   
}
