<ion-icon class="close-button" id="close-button" name="close-circle" (tap)="dismiss()"></ion-icon>
<ion-content padding>
  <div>
    <p style="text-align: center; font-size: 2rem;">
      <b>Device Settings</b>
    </p><br/>
    <ion-row>
      <ion-col col-12><b>Vehicle Name:</b></ion-col>
      <ion-col col-12>
        <ion-input type="text" [(ngModel)]="vname"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12><b>Total ODO:</b></ion-col>
      <ion-col col-12>
        <ion-input type="text" [(ngModel)]="tot_odo"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6><b>Speed Limit:</b></ion-col>
      <ion-col col-6 style="text-align: right">
        <ion-badge color="gpsc" item-end>{{speedlimit}}</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-range min="10" max="500" step="2" color="gpsc" [(ngModel)]="speedlimit">
          <ion-icon small range-left name="speedometer"></ion-icon>
          <ion-icon range-right name="speedometer"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-row>
    <ion-row padding-bottom>
      <ion-col col-12><b>Ignition Detection:</b></ion-col>
    </ion-row>
    <ion-row radio-group [(ngModel)]="ingnitionStat">
      <ion-col col-6>
        <ion-label>Movement</ion-label>
      </ion-col>
      <ion-col col-6 style="text-align: right;">
        <ion-radio color="gpsc" value="MOVEMENT" (ionSelect)="radioChecked(ingnitionStat)"></ion-radio>
      </ion-col>
    </ion-row>
    <ion-row radio-group [(ngModel)]="ingnitionStat">
      <ion-col col-6>
        <ion-label>ACC</ion-label>
      </ion-col>
      <ion-col col-6 style="text-align: right;">
        <ion-radio color="gpsc" value="ACC" (ionSelect)="radioChecked(ingnitionStat)"></ion-radio>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-12>
        <button ion-button block (tap)="submitSettings()" color="gpsc">Submit</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>